<%= form_for(@journal_entry) do |f| %>
  <% if @journal_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journal_entry.errors.count, "error") %> prohibited this journal_entry from being saved:</h2>

      <ul>
      <% @journal_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :byline %><br>
    <%= f.text_field :byline %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.cktext_area :notes %>
  </div>
  <div class="field">
    <%= f.label :temperature %><br>
    <%= f.text_field :temperature %>
  </div>
  <div class="field">
    <%= f.label :rainfall_24hr %><br>
    <%= f.text_field :rainfall_24hr %>
  </div>
  <div class="field">
    <%= f.label :garden_id %><br>
    <%= f.text_field :garden_id %>
  </div>
  <div class="field">
    <%= f.label :impression %><br>
    <%= f.text_field :impression %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
