<p id="notice"><%= notice %></p>

<h1>Listing Journal Entries</h1>

<table>
  <thead>
    <tr>
      <th>Byline</th>
      <th>Notes</th>
      <th>Temperature</th>
      <th>Rainfall 24hr</th>
      <th>Garden</th>
      <th>Impression</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journal_entries.each do |journal_entry| %>
      <tr>
        <td><%= journal_entry.byline %></td>
        <td><%= journal_entry.notes %></td>
        <td><%= journal_entry.temperature %></td>
        <td><%= journal_entry.rainfall_24hr %></td>
        <td><%= journal_entry.garden %></td>
        <td><%= journal_entry.impression %></td>
        <td><%= link_to 'Show', journal_entry %></td>
        <td><%= link_to 'Edit', edit_journal_entry_path(journal_entry) %></td>
        <td><%= link_to 'Destroy', journal_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Journal entry', new_journal_entry_path %>
