<p id="notice"><%= notice %></p>

<p>
  <strong>Byline:</strong>
  <%= @journal_entry.byline %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @journal_entry.notes %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @journal_entry.temperature %>
</p>

<p>
  <strong>Rainfall 24hr:</strong>
  <%= @journal_entry.rainfall_24hr %>
</p>

<p>
  <strong>Garden:</strong>
  <%= @journal_entry.garden %>
</p>

<p>
  <strong>Impression:</strong>
  <%= @journal_entry.impression %>
</p>

<%= link_to 'Edit', edit_journal_entry_path(@journal_entry) %> |
<%= link_to 'Back', journal_entries_path %>
