<!DOCTYPE html>
<html>
<head>
  <title>SamPeters.net</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="page-top grayscale-body">

<%= yield %>

</body>
</html>
